@CHARSET "ISO-8859-1";

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* Background */
.bg-image {
    background-image: url(../images/loginBackgroung.png);
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}

.bg-white {
    background-color: #fff;
}

/* Barra de Navegação */
.navbar-default{
    background-color: rgba(0, 0, 0, 0.61);
    background-image: none;
    border-color: transparent;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ebebeb;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #b5b5b5;
    background-color: transparent;
}

.dropdown-menu {
    background-clip: border-box;
    background-color: rgba(238, 238, 238, 0.81);

}