@CHARSET "UTF-8";

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* Background */
.bg-image {
    background-image: none;
    background-color: rgb(53, 65, 132);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}

.bg-white {
    background-color: #fff;
}

/* Barra de Navegação */
.navbar-default{
    background-color: rgba(235, 235, 235, 1);
    background-image: none;
    border-color: transparent;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-nav > li > a {
    color: #3e3e3e;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #222222;
    background-color: transparent;
}

.dropdown-menu {
    background-clip: border-box;
    background-color: rgba(238, 238, 238, 0.95);

}